div {
  box-sizing: border-box;
}

.nav {
  display: flex;
  background: black;
  width: 100%;
  color: #FFADBC;
  padding-left: 20px;
}

.list {
  padding-left: 20px;
  border-bottom: 1px solid #863A6F;
}
