div {
  box-sizing: border-box;
}

.nav {
  display: flex;
  background: black;
  width: 100%;
  color: #FFADBC;
  padding-left: 20px;
}

.btns {
  padding: 20px 0 0 20px;
}

.title-change-btn {
  width: 80px;
  height: 30px;
  font-size: 14px;
  border: none;
  background: #FFADBC;
  color: white;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.title-sort-btn {
  width: 80px;
  height: 30px;
  font-size: 14px;
  border: none;
  background: #FFADBC;
  color: white;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.list {
  padding-left: 20px;
  border-bottom: 1px solid #863A6F;
}

.like {
  color: #D989B5;
}